<div id='sidebar-wrapper'>
  <p>Please upload your google takeout location history here</p>

  <form [formGroup]="form" (ngSubmit)="submitFile()">
    <mat-form-field appearance="outline">
      <ngx-mat-file-input
        valuePlaceholder="Upload your Data"
        (change)="onFileUpload($event)"
        >
      </ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <div class="progress form-group" *ngIf="progress > 0">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
      </div>
    </div>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
